<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->

<div class="row" style="background-color: NavajoWhite; max-height: 80px; min-height: 30px; border-bottom: 2px solid black; padding-top: 30px; padding-bottom: 30px;">
	<a href="#/search" class="btn btn-warning" style="margin-left: 70%;" >Go Back</a>
</div>

<!-- Dish info -->
<div class="col-md-4" id="dishInfo">
	<h2>{{dish.Title}}</h2>

	<img ng-src="{{dish.ImageURL}}" style="width: 80%; padding-bottom: 10px;">
	<p>{{dish.Description}}</p>
	<h2>Preperation</h2>
	<p>{{dish.Instructions}}</p>
</div>

<!-- Ingredients Right Tab -->
<div class="col-md-5" id="ingredientsTab" style="height 100%; background-color: NavajoWhite;">
	<div class="page-header" style="color: black; border-bottom: 1px solid black">
		<h5 id="ingredientsTabNumGuest">INGREDIENTS FOR {{getNumberOfGuests()}} PEOPLE</h5>
	</div>
	<div ng-repeat="ingredient in dish.Ingredients">
		<div class="col-md-3" id="ingredAmount">
			<p>{{ingredient.Quantity*getNumberOfGuests() | number : 1}} {{ingredient.Unit}}</p>
			
		</div>
		<div class="col-md-6" id="ingredName">
			<p>{{ingredient.Name}}</p>
		

		</div>				
		<div class="col-md-3" id="ingredPrice">	
		
			<p>SEK {{1*getNumberOfGuests()}}</p>

		</div>
	</div>
</div>
<div class="col-md-5" id="ingredientsTab" style="height 100%; background-color: NavajoWhite;">
	<div class="col-md-8">
		<a href="#/search" ng-click="addDishToMenu()" class="btn btn-warning" style="margin: 20px;">Confirm Dish</a>
	</div>
	<div class="col-md-2">
		<p>SEK</p>				
	</div>
	<div class="col-md-2">

		<p id="ingredTotal">{{getDishPrice()}}</p>
	</div>
