<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>
<ng-include src="'partials/header.html'"></ng-include>


<div class="col-md-10" id="ScreenAfterMainView">
	<div class="row" style="background-color: NavajoWhite; border: 2px solid black; padding-bottom: 30px; padding-top: 10px; margin-left: -15px; margin-right: -15px;"> <h4 style="border-bottom: 2px solid black; margin-left: 20px; margin-right: 20px;"><b>SELECT DISH</b></h4>
		<form class = "form-inline">
		<div class="form-group" style=" border: 1px solid black; margin-left: 20px; margin-right: 20px;">
			<input ng-model="query" id="searchWord" type="Enter key word" class="form-control" placeholder="Enter keywords">
		</div>
			<button ng-click="search(query)" id="buttonSearch" type="submit" class="btn btn-default" style=" border: 2.5px solid black; margin-left: -26px; background-color: coral;">Search</button>
			</form>
		</div>
		<p id="errorMessage"></p>
		<div class="row-md-1" id="dishImage" style="height: 85%; max-width: 100%; padding-top: 50px">	
		{{status}}
		<div ng-repeat="dish in dishes">
			<a ng-href="#/dish/{{dish.RecipeID}}">
				<div class="col-md-3">
					<img ng-src="{{dish.ImageURL}}" style="width: 100%; height: 195px;">
					</br>
					<label style="float: center;">{{dish.Title}}</label>
					</br>
				</div>
			</a>

			<!-- {{dish.Category}} {{dish.Subcategory}} -->
		</div>	

		<!-- <img src="images/spin.gif" id="loadingGif">
		<span id="dishSpace"></span>
		<span id="errorFieldDish"></span> -->

	</div>

</div>



<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->